In [25]:
import pandas as pd

df = pd.DataFrame(data={'topic':['international','sports','sports','politics', 'international'],
                        'content':['test2','testing','this is test','x','df']})
df

           topic       content
0  international         test2
1         sports       testing
2         sports  this is test
3       politics             x
4  international            df

In [15]:
from sklearn import preprocessing

encoder= preprocessing.LabelEncoder()
encoder.fit(df['topic'])
df['topic'] = encoder.fit_transform(df['topic'])
df

   topic       content
0      0         test2
1      2       testing
2      2  this is test
3      1             x
4      0            df

In [ ]:
print(encoder)
encoder.classes_

LabelEncoder()

array(['international', 'politics', 'sports'], dtype=object)

In [30]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

# df already exists with column 'topic'

encoder = OneHotEncoder(sparse_output=False)  # or sparse=False in older versions

# OneHotEncoder expects 2D input, so use double brackets
topic_oh = encoder.fit_transform(df[['topic']])

# Make a DataFrame from the result
topic_oh_df = pd.DataFrame(
    topic_oh,
    columns=encoder.get_feature_names_out(['topic']),
    index=df.index
)

# Concatenate with original df, and optionally drop original 'topic'
df_oh = pd.concat([df.drop(columns=['topic']), topic_oh_df], axis=1)
df_oh

        content  topic_international  topic_politics  topic_sports
0         test2                  1.0             0.0           0.0
1       testing                  0.0             0.0           1.0
2  this is test                  0.0             0.0           1.0
3             x                  0.0             1.0           0.0
4            df                  1.0             0.0           0.0